@using GameList.ViewModels
@model ForgotPasswordViewModel

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card gameinfo2 defaultTextColor" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
                        <div class="mb-md-5 mt-md-4 pb-5">

                            @*                        <div asp-validation-summary="All" class="text-danger"></div>*@
                            <h2 class="fw-bold mb-2 text-uppercase">Reset password</h2>
                            <p class="defaultTextColor mb-5">Enter your email to reset!</p>

                            <div class="form-outline form-white mb-4">
                                <input asp-for="Email" class="form-control form-control-lg" />
                                <label asp-for="Email" class="form-label">Email Address</label>
                                <br>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>


                            <button class="btn gameinfo1menubuttons btn-lg px-5" type="submit">Submit</button>
                        </div>

                        <div asp-validation-summary="All" class="text-danger gameinfo2p" style="list-style-type: none;"></div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>