@using GameList.ViewModels
@model ResetPasswordViewModel

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card gameinfo2 defaultTextColor" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form">
                        <div class="mb-md-5 mt-md-4 pb-5">


                            @*                        <div asp-validation-summary="All" class="text-danger"></div>*@
                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="defaultTextColor mb-5">Please enter your details!</p>
                             <input asp-for="Code" hidden />
                            <div class="form-outline form-white mb-4">
                                <input asp-for="Email" class="form-control form-control-lg" />
                                <label asp-for="Email" class="form-label" >Email Address</label>
                                <br>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input asp-for="Password" class="form-control form-control-lg" />
                                <label asp-for="Password" class="form-label">Password</label>
                                <br>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                 <div>
                                    <small class="text-info">(Password must have atleast an uppercase letter, a lowercase letter, a number and a symbol)</small>
                                </div>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                <br>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>


                            <button class="btn gameinfo1menubuttons btn-lg px-5" type="submit">Change Password</button>
                        </div>

                        <div asp-validation-summary="All" class="text-danger gameinfo2p" style="list-style-type: none;"></div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>