@{
    ViewData["Title"] = "Cookies policy";
}

<div class="container-fluid px-4">
    <div class="row gx-1 justify-content-center">
        <div class="col-md-12">
            <div class=" gameinfo2 gamelistEditUserGameList p-1">
                <h2 class="fw-light">Cookies <span class="fw-normal">Policy</span></h2>
            </div>
            <div class="row gx-0 justify-content-center d-flex align-items-center  ">
                <div style="margin-top:2px;" class="defaultBgColor defaultTextColor">
                    <div class="row d-flex justify-content-center p-5 ">
                        <h3 >What are cookies?</h3>

                        <p>Cookies are small pieces of data, stored in text files, that are stored on your computer or other device when websites are loaded in a browser. 
                            They are widely used to &quot;remember&quot; you and your preferences, either for a single visit (through a &quot;session cookie&quot;) or for 
                            multiple repeat visits (using a &quot;persistent cookie&quot;). They ensure a consistent and efficient experience for visitors, and perform essential 
                            functions such as allowing users to register and remain logged in. Cookies may be set by the site that you are visiting (known as &quot;first party 
                            cookies&quot;), or by third parties, such as those who serve content or provide advertising or analytics services on the website (&quot;third party cookies&quot;).
                            Both websites and HTML emails may also contain other tracking technologies such as &quot;web beacons&quot; or &quot;pixels.&quot; These are typically small
                            transparent images that provide us with statistics, for similar purposes as cookies. They are often used in conjunction with cookies, though they are not stored 
                            on your computer in the same way. As a result, if you disable cookies, web beacons may still load, but their functionality will be restricted.</p>

                        <h3 >How we use cookies</h3>

                        <p>We use cookies for a number of different purposes. Some cookies are necessary for technical reasons. Some of these cookies may be set when a page is loaded, or when 
                            a visitor takes a particular action. Many of the cookies we use are only set if you are a registered user (so you don’t have to log in 
                            every time, for example), while others are set whenever you visit one of our websites, irrespective of whether you have an account.</p>

                        <table class="table defaultTextColor">
                            <thead>
                                <tr>
                                    <th>Category of cookies</th>
                                    <th>Why we use these cookies</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Required</td>
                                    <td>These cookies are essential for our websites and services to perform basic functions and are necessary for us to operate certain features.
                                        These include those required to allow registered users to authenticate and perform account-related functions, store preferences set by users 
                                        such as account name, language, and location, and ensure our services are operating properly.</td>
                                </tr>
                                <tr>
                                    <td>Theme</td>
                                    <td>These cookies are essential for our websites and services to perform theme preference change and are stored for up to a year once a preference is set or changed.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class=" gameinfo2 gamelistEditUserGameListEnd p-1 mt-1">
            </div>
        </div>
    </div>
</div>


