@{
    ViewData["Title"] = "FAQs";
}

<div class="container-fluid px-4">
    <div class="row gx-1 justify-content-center">
        <div class="col-md-12">
            <div class=" gameinfo2 gamelistEditUserGameList p-1">
                <h2> Frequently asked questions</h2>
            </div>
            <div class="row gx-0 justify-content-center d-flex align-items-center  ">
                <div style="margin-top:2px;" class="defaultBgColor defaultTextColor">
                    <div class="row d-flex justify-content-center p-5 ">

                        <h3 >How do I share my list or profile?</h3>
                        <p>
                            Your Username is unique, this means the link of your profile and GameList are unique as well, you just need to send that link to someone and they will be able to access your profile or GameList.
                        </p>
                        <h3 >How do I delete my account?</h3>
                        <p>
                            Go to Profile > Edit > Delete Account > Put your account password and click on delete. This will delete all your data including user account information, customisation options, followers and following lists, chat messages, GameList and profile data.
                        </p>
                    </div>
                </div>
            </div>
            <div class=" gameinfo2 gamelistEditUserGameListEnd p-1 mt-1">
            </div>
        </div>
    </div>
</div>


