@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid px-4">
    <div class="row gx-1 justify-content-center">
        <div class="col-md-12">
            <div class=" gameinfo2 gamelistEditUserGameList p-1">
                <h2 class="fw-light">Privacy <span class="fw-normal">Policy</span></h2>
            </div>
            <div class="row gx-0 justify-content-center d-flex align-items-center  ">
                <div style="margin-top:2px;" class="defaultBgColor defaultTextColor">
                    <div class="row d-flex justify-content-center p-5 ">

                        <ul>
                            <li>We don't sell your information to anyone.</li>
                            <li>We are thoughtful about the personal information we ask you to provide.</li>
                            <li>We store personal information for only as long as we have a reason to keep it.</li>
                            <li>We aim for full transparency on how we gather, use, and share your personal information.</li>
                        </ul>
                        <p>Below is our Privacy Policy, which incorporates and clarifies these principles.</p>
                        <h3 id="who-we-are-and-what-this-policy-covers">Who We Are and What This Policy Covers</h3>
                        <p>HI, my name is Fasih and I am the founder and developer of GameList. I adapted 
                            this Privacy Policy from <a href="https://automattic.com/privacy">Automattic</a>, the creators of Wordpress. Throughout this 
                            document, I have kept the language as "we" but it's really only me.</p>

                        <p>This Privacy Policy applies to information that we collect about you when you use:</p>
                        <ul>
                            <li>Our websites (including keeptrackofmygames.com)</li>

                        </ul>
                        <p>Throughout this Privacy Policy we’ll refer to our websites, mobile applications, and other products and services collectively as “Services.” 
                            Below we explain how we collect, use, and share information about you, along with the choices that you have with respect to that information.</p>

                        <h3 >Information We Collect</h3>
                        <p>We only collect information about you if we have a reason to do so — for example, to provide our Services, to communicate with you, or to make
                            our Services better. We collect this information from two sources: if and when you provide information to us and automatically through operating
                            our Services.</p>
                        <h4 ><em>Information You Provide to Us</em></h4>
                        <p>It’s probably no surprise that we collect information that you provide to us directly. Here are some examples:</p>
                        <ul>
                            <li>
                                <strong>Basic account information:</strong> 
                                We ask for basic information from you in order to set up your account. For example, we may require 
                                individuals who sign up for a GaneList account to provide an email address and password, along with a username — and that’s it. You may provide us 
                                with more information — like your profile picture and other information you want to share — but we don’t require that information to create a GameList account.</li>
                            <li>
                                <strong>Public profile information:</strong> 
                                If you have an account with us, we collect the information that you provide for your public profile.
                                For example, if you have a GameList account, your username is part of that public profile, along with any other information you put into your public profile,
                                like your avatar or a description.</li>
                            <li>
                                <strong>Public lists:</strong>
                                All your lists are public by default.
                                </li>
                          </ul>

                    </div>
                </div>
            </div>
            <div class=" gameinfo2 gamelistEditUserGameListEnd p-1 mt-1">
            </div>
        </div>
    </div>
</div>


